body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #f0f0f0, #b0e0e6);
    color: #333;
}

header, footer {
    padding: 20px;
    text-align: center;
    animation: gradientAnimation 10s ease infinite;
    background: linear-gradient(270deg, #4a90e2, #f39c12, #e74c3c, #8e44ad);
    background-size: 400%;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

.image-container {
    display: flex; 
    justify-content: center;  
    align-items: center;
    max-width: 90%; 
}

.image-container img {
    width: 100%; 
    max-width: 500px;  
    height: auto;  
    margin: 0 10px;  
    border-radius: 20px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.heart {
    font-size: 70px;  
    color: red;
    display: flex;
    align-items: center;
    animation: pulse 1.5s infinite; /* Анимация */
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.6); /* Объемный эффект */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        color: #ff0000; /* Начальный цвет */
    }
    50% {
        transform: scale(1.2); /* Увеличение объема */
        color: #b91b1b; /* Светлее цвет для плавного перехода */
    }
    100% {
        transform: scale(1);
        color: #ff0000; /* Возврат к исходному цвету */
    }
}
@media (max-width: 600px) {
    .heart {
        font-size: 40px; /* Уменьшаем размер для маленьких экранов */
    }
}